.scrollContainer {
    height: min(100dvh, 100vh);
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    /* Hide scrollbar on WebKit browsers (Chrome, Safari) */
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on mobile */
}
.scrollContainer::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

/* For Firefox */
.scrollContainer {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}
